.language {
  display: inline;
}
.heading {
  font-size: 20px;
  color: whitesmoke;
}
#source {
  width: 100% !important;
  background: #cccccc52;
  height: 34rem;
  font-size: 17px;
  margin-bottom: 1rem;
  color: whitesmoke;
}
#input {
  background: #cccccc52;
  width: 90%;
  height: 12rem;
  font-size: 17px;
  color: whitesmoke;
}
#output { 
  background: #cccccc52;
  width: 90%;
  height: 26rem;
  font-size: 17px;
  color: whitesmoke;
}
.language {
  width: 150px;
}
.ide{
  border: 2px solid white ;
}
.editor{
  border: 2px solid orange;
}
.ipop{
  border: 2px solid pink;
}